@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans:wght@400;600&display=swap");
@import "./utils/vars.scss";
@import "./utils/normalize.scss";
@import "./utils/mixins.scss";

.general {
  padding: 80px 4vw 67px;

  @include onTablet {
    padding: 48px 15px;
  }

  @include onMobile {
    padding: 48px 15px 29px;
  }
}

.search {
  max-width: 864px;
  margin: 0 auto;

  @include onTablet {
    max-width: none;
  }

  &__title {
    color: $text-color;
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;

    @include onMobile {
      font-size: 20px;
    }
  }

  &__box {
    background-color: $search-box-bg;
    margin-top: 16px;
  }
}

.form {
  display: flex;
  align-items: flex-end;
  gap: 24px;
  padding: 24px;

  @include onMobile {
    flex-direction: column;
    align-items: flex-start;
  }

  &__inp {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;

    @include onMobile {
      flex: none;
      width: 100%;
    }

    &-label {
      color: $text-color;
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 22.4px;
      letter-spacing: 0.16px;
    }

    &-date {
      color: $text-color;
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      border: none;
      letter-spacing: 0.32px;
      outline: none;
      padding: 13px 24px;
      width: 208px;

      @include onTablet {
        padding: 13px 12px;
        width: auto;
        flex: 1;
      }

      @include onMobile {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }

  &__btn {
    color: $white;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    padding: 13px 0;
    border-radius: 2px;
    background-color: $button-bg;
    border: none;
    max-width: 256px;
    width: 100%;

    @include onTablet {
      width: auto;
      max-width: none;
      flex: 1;
    }

    @include onMobile {
      width: 100%;
      flex: none;
    }
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(411px, 1fr));
  grid-gap: 24px;
  padding: 0;
  flex-wrap: wrap;
  max-width: 1290px;
  margin: 0 auto;
  margin-top: 46px;

  @include onTablet {
    grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
  }

  @include onMobile {
    display: flex;
    flex-direction: column;
  }
}

.user {
  list-style-type: none;
  border-radius: 2px;
  border: 1px solid rgba(234, 234, 237, 0.5);
  background-color: $white;

  @include onMobile {
    width: 100%;
  }

  &__box {
    padding: 32px 24px;

    &-name {
      color: $text-color;
      font-family: Merriweather;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      white-space: normal;
    }
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;

  &__info {
    display: flex;
    align-items: center;
    gap: 8px;

    &-text {
      color: $text-color;
      font-family: "Open Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      text-decoration: none;
    }
  }
}
